@tailwind base;
@tailwind components;

body { @apply font-slash; }
header { @apply mx-auto py-4 pb-0; }
.logo { @apply  block text-center text-3xl uppercase font-bold text-gray-800; }
.nav-link { @apply ml-8 text-xs font-medium uppercase text-gray-500 tracking-wide; }
a.nav-link:hover { @apply text-teal-500; }
.slider-image { height: 26rem; }
@screen md {
  .nav-link:first-child { @apply ml-0 }
  .logo { @apply flex-1; }
  .slider-image { height: 36rem; }
}
.section-content { @apply flex flex-wrap pt-6 overflow-hidden; }
.card-height { height: 280px; }
.card2-height { height: 560px; }
.card3-height { height: 380px; }
.section-card-content { @apply flex flex-1 border border-gray-300 rounded; }
.section-image { @apply bg-cover w-1/2; }
.post-signature { @apply flex p-4 absolute bottom-0; }
.post-bookmark { @apply flex p-6 absolute bottom-0 right-0; }
.full-align { margin-left: calc(51% - 50vw); margin-right: calc(51% - 50vw); width: auto; max-width: 1000%; }

@tailwind utilities;
